.App {
  text-align: center;
}

#boardContainer {
  height: 500px;
  overflow: scroll;
}

#board {
  position: relative;
  display: inline-block;
}

.tile {
  position: relative;
  float: left;
  width: 20px;
  height: 20px;
}

.tile.empty {
  background-image: url('assets/images/game-sprites/wall_vines_0.png')
}

.tile.roomTile {
  background-image: url('assets/images/game-sprites/sand_1.png')
}

img#heroImage {
  background-color: green;
}

.gameSprite {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  z-index: 99;
}

#statusBar {
  text-align: center;
}

#statsTable {
  display: initial;
  -webkit-border-horizontal-spacing: 20px;
}

#tooltipDiv {
  position: absolute;
  top: 0px; 
  left: 0px; 
  will-change: transform;
}
