.App {
  text-align: center;
}

#board {
  position: relative;
  display: inline-block;
}

.tile {
  float: left;
  width: 20px;
  height: 20px;
  /*border: 1px solid;*/
  /*border-color: black; */
}

.tile.empty {
  background-image: url('assets/images/game-sprites/wall_vines_0.png')
}

.tile.roomTile {
  background-image: url('assets/images/game-sprites/sand_1.png')
}

.tile.heroTile {
  /*background-color: green;*/
}

.gameSprite {
  display: block;
  width: 20px;
  height: 20px;
  z-index: 9999;
}

