.App {
  text-align: center;
}

#board {
  position: relative;
  display: inline-block;
}

.tile {
  float: left;
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-color: black; 
}

.tile.roomTile {
  background-color: brown;
}

.tile.heroTile {
  background-color: black;
  z-index: 999;
}
