.App {
  text-align: center;
}

#board {
  display: inline-block;
}

.tile {
  float: left;
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-color: black; 
}

.tile.roomTile {
  background-color: brown;
}
